body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    overflow: hidden; /* Prevent scrollbars */
}

.container {
    position: relative;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-image {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    object-fit: cover; /* This will cover the entire space, might crop image */
    position: absolute;
    top: 0;
    left: 0;
}

area {
    cursor: pointer;
}

area:hover + .highlight {
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .portfolio-image {
        object-fit: cover; /* Maintain fullscreen on mobile */
        width: 100vw;
        height: 100vh;
    }
}